
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}
.tag-clientes {
    float: left;
    width: 100%;

    margin-bottom: 10px;
    margin-top: -10px;
    
}

.tag-clientes p {
    font-size: 28px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #153049;
}

.content-primary {
    display: flex;
    justify-content: space-between;
    background-color: #e9e1e1;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 15px;
}

.content-primary p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    color: #031322;
}
.content-primary .online {
    font-size: 12px;
    text-align: center;
    background-color: #127c20;
    padding: 5px 5px;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;

}

.content-primary .off {
    font-size: 12px;
    text-align: center;
    background-color: #b91a1a;
    padding: 5px 5px;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;

}
.content-primary .info-content-aluguel p {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #031322;
}
.content-primary .info-content-aluguel .box-text {
    display: flex;
    align-items: center;
}
.content-primary .info-content-aluguel .box-text p:nth-child(1) {
    font-size: .9rem;
    font-weight: 400;
    color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.box-buttons {
    display: flex;
    align-content: center;
    gap: 10px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 60%;
    height: 80%;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 4px;
}

.scrollable-content {
    flex: 1; /* Expande o espaço da div rolável */
    overflow-y: auto; /* Habilita o scroll vertical */
    padding-right: 10px; /* Adiciona espaço interno */
    margin-bottom: 20px; /* Adiciona um espaço para o botão abaixo */
  }
  
  /* Altera a altura para a div rolável */
  .scrollable-content .content-primary {
    background-color: #e9e1e1;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .scrollable-content .tag-clientes {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
  }
button {
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: #505050;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: all ease-in-out .2s;
}

.editar {
    background-color: #34a4d8;
}

.excluir {
    background-color: #d83434;
}

.register {
    width: 150px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    background-color: #309dc9;
    align-self: flex-end;
}