.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.field {
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444444;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  transition: border-color 0.3s;
}

select {
  appearance: none; 
  background-color: #fff; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"><path d="M4 6l4 4 4-4z" fill="%23444"/></svg>'); /* Adicionando um ícone de seta */
  background-repeat: no-repeat; 
  background-position: right 10px center; 
  background-size: 12px; 
}

select:focus {
  border-color: #54b1ee; 
  outline: none; 
}

button[type="submit"] {
  width: 100%;
  background-color: #54b1ee;
  margin: 0 auto;   
  color: #fff; 
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.error {
  color: red;
  font-size: 0.875em;
}
